#main-navigation .sf-menu li li.sfHover > a,
#main-navigation ul.menu li a:hover,
#header-top ul.menu li a:hover,
#header-top .sf-menu li li.sfHover > a,
#header-top ul.menu > li > a.active,
#header-top ul.main-menu.menu > li.menu-item--active-trail > a:hover,
#header-top .sf-menu > li.sfHover > a,
#main-navigation .sf-menu li li.sfHover > span,
#main-navigation ul.menu li span:hover,
#header-top ul.menu li span:hover,
#header-top .sf-menu li li.sfHover > span,
#header-top ul.menu > li > span.active,
#header-top ul.main-menu.menu > li.menu-item--active-trail > span:hover,
#header-top .sf-menu > li.sfHover > span,
.header-top-area select {
  background-color: #c14300;
}
.header-top-area .form-search {
  color: #ffffff;
  background-color: #c14300;
}
.header-top-area .form-search:focus {
  background-color: rgba(0,0,0,0.25);
}
.header-top-area table td,
.header-top-area table th {
  border-color: #c14300;
}
#header-top ul.menu li a,
#header-top ul.menu li span {
  border-left-color: #c14300;
}
#header-top ul.menu li:last-child > a,
#header-top ul.menu li:last-child > span {
  border-right-color: #c14300;
}
a,
blockquote:after,
ul.menu li.menu-item--collapsed > a:before,
ul.menu li.menu-item--expanded > a:before,
.footer-area ul.menu li.menu-item--active-trail > a:before,
ul.menu li.menu-item--collapsed > span:before,
ul.menu li.menu-item--expanded > span:before,
.footer-area ul.menu li.menu-item--active-trail > span:before,
.pager__items li.is-active a,
.comment-counter,
.comment ul.links li a,
.ui-widget-content a,
.view-mt-testimonials .views-field-title a,
.footer-area ul.social-media-info li a,
ul.social-media-info li a:hover i,
.ui-widget-content ul.links li a,
.node--submitted-info i,
.view-mt-testimonials .views-field-body p:first-child:after,
.page-node-type-mt-testimonial .field--name-body p:first-child:after,
.footer-area .views-field-title a {
  color: #de4d00;
}
ul.menu li > a:hover:before,
ul.menu li > span:hover:before {
  color: #de4d00!important;
}
.pager__items li.is-active a {
  border-bottom-color: #de4d00;
}
ul.links li a,
a.more,
input[type="submit"],
input[type="reset"],
input[type="button"],
#main-navigation .sf-menu li.sfHover > a,
#main-navigation .sf-menu li.sfHover > span,
#header-top {
  background-color: #de4d00;
}
#main-navigation .sf-menu ul,
#header-top .sf-menu ul {
  background: rgba(222,77,0,0.95);
}
.tp-caption.more-link a {
  background: rgba(222,77,0,0.90);
}
.tp-caption.more-link a:hover {
  opacity: 0.85;
  filter: alpha(opacity=85);
  background: rgba(222,77,0,0.90);
}
.overlay, .overlayed a:before {
  background: rgba(255,106,27,0.75);
  background: -moz-linear-gradient(top, rgba(255,106,27,0.75) 0%, rgba(222,77,0,0.75) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,106,27,0.75)), color-stop(100%,rgba(222,77,0,0.75))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,106,27,0.75) 0%,rgba(222,77,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,106,27,0.75) 0%,rgba(222,77,0,0.75) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,106,27,0.75) 0%,rgba(222,77,0,0.75) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,106,27,0.75) 0%,rgba(222,77,0,0.75) 100%); /* W3C */
}
a:hover,
a:focus,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.footer-area h1 a:hover,
.footer-area h2 a:hover,
.footer-area h3 a:hover,
.footer-area h4 a:hover,
.footer-area h5 a:hover,
.footer-area h6 a:hover,
.footer-area ul.menu li a:hover,
.footer-area ul.menu li span:hover,
.pager__items li > a:hover,
#breadcrumb a:hover,
.comment ul.links li a:hover,
.views-field-title a:hover,
.ui-widget-content a:hover,
ul.members-social-bookmarks li a:hover,
.ui-widget-content ul.links li a:hover {
  color: #ff6a1b;
}
.pager__items li > a:hover {
  border-bottom-color: #ff6a1b;
}
#header-top ul.menu > li > a:hover,
#header-top ul.menu > li > a.active,
#header-top ul.main-menu.menu > li.menu-item--active-trail > a:hover,
#header-top .sf-menu > li.sfHover > a,
#header-top ul.menu > li > span:hover,
#header-top ul.menu > li > span.active,
#header-top ul.main-menu.menu > li.menu-item--active-trail > span:hover,
#header-top .sf-menu > li.sfHover > span {
  border-bottom-color: #ff6a1b;
}
.view-mt-features .views-row:hover .icon,
ul.icons-list li a:hover,
ul.brands li a:hover,
ul.members-social-bookmarks li a:hover,
.header-top-area ul.icons-list li a:hover,
.header-top-area ul.brands li a:hover {
  border-color: #ff6a1b;
}
ul.links li a:hover,
a.more:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
  background-color: #ff6a1b;
}

/*resets*/
.header-top-area a {
  color: #fff;
  text-decoration: underline;
}
.header-top-area a:hover {
  color: #fff;
  text-decoration: none;
}
#header-top .sf-menu ul li a,
#header-top .sf-menu ul li span {
  border-color: transparent!important;
}
#header-top ul.menu > li > a:hover,
#header-top ul.menu > li > a.active,
#header-top ul.main-menu.menu > li.menu-item--active-trail > a:hover,
#header-top ul.menu > li > span:hover,
#header-top ul.menu > li > span.active,
#header-top ul.main-menu.menu > li.menu-item--active-trail > span:hover {
  border-left-color: transparent;
}
#header-top ul.menu li:last-child > a:hover,
#header-top ul.menu > li:last-child > a.active,
#header-top ul.main-menu.menu > li.menu-item--active-trail:last-child > a:hover,
#header-top ul.menu li:last-child > span:hover,
#header-top ul.menu > li:last-child > span.active,
#header-top ul.main-menu.menu > li.menu-item--active-trail:last-child > span:hover {
  border-right-color: transparent;
}
.header-top-area .block-search .form-actions:after,
.footer-area .block-search .form-actions:after,
.subfooter-area .block-search .form-actions:after,
.header-top-area .form-actions input,
.footer-area .form-actions input,
.subfooter-area .form-actions input {
  background-color: rgba(0,0,0,0.2)!important;
}
.header-top-area ul.icons-list li a,
.header-top-area ul.brands li a {
  color: #e1e1e1;
}
.header-top-area ul.icons-list li a,
.header-top-area ul.brands li a {
  border-color: #e1e1e1;
}
.ui-widget-content ul.links li a:hover {
  background-color: transparent;
}
