{#
/**
 * @file
 * Scholarly's theme override for the block entity refernece field for the dropdown custom block.
 *
 * @see scholarly_preprocess_field__block_content__mt_google_maps()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    'field--entity-reference-target-type-' ~ entity_reference_target_type|clean_class,
    'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'inline' ? 'inline',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if not label_hidden %}
    <h3{{ title_attributes.addClass(title_classes) }}>{{ label }}</h3>
  {% endif %}
  <div class="google-map-canvas"
    data-attribute-mt-latitude="{{field_mt_latitude_value}}"
    data-attribute-mt-longitude="{{field_mt_longitude_value}}"
    data-attribute-mt-map-zoom="{{field_mt_map_zoom_value}}">
  </div>
</div>
