{#
/**
 * @file
 * Scholarly's theme implementation to display an Article node.
 */
#}
{% extends "node.html.twig" %}
{% block meta_area %}
  {% if display_submitted %}
    <div class="node__meta">
      <span{{ author_attributes.addClass('submitted-info') }}>
        {% trans %}By {{ author_name }}{% endtrans %}
      </span>
      {{ metadata }}
      {{ author_picture }}
    </div>
  {% endif %}
{% endblock %}
{% block node_side %}
  {% if display_submitted or node.comment or view_mode == "full" %}
    <div class="node--submitted-info
      {% if node.field_mt_subtitle.value or node.field_mt_subheader_body.value %} with-extra-top-space {% endif %}
    ">
      {% if display_submitted %}
        <div class="submitted-date">
          <i class="fa fa-calendar hidden-lg hidden-md hidden-sm"></i>
          <div class="month">{{ node.createdtime|format_date('custom', 'M') }}</div>
          <div class="day">{{ node.createdtime|format_date('custom', 'd') }}</div>
          <div class="year">{{ node.createdtime|format_date('custom', 'Y') }}</div>
        </div>
      {% endif %}
      {% if node.comment %}
        <div class="comments-count">
          <i class="fa fa-comment"></i>
          <div class="comment-counter">{{ comment_count }}</div>
        </div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
{% block content %}
  <div class="node--main-content">
    {{ content|without('comment') }}
  </div>
  {{ content.comment }}
{% endblock %}
