{#
/**
 * @file
 * Theme override for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 */
#}
<div class="tp-caption more-link"
  data-x="left"
  data-y="bottom"
  data-hoffset="45"
  data-voffset="45"
  data-fontweight="800"
  data-fontsize="[20,20,18,20]"
  data-visibility="[on,on,off,off]"
  data-whitespace="nowrap"
  data-basealign="slide"
  data-start="150"
  data-transform_idle="o:1"
  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1000;e:Power4.easeInOut;"
  data-transform_out="y:[100%];o:0;s:1000;e:Power2.easeInOut;">
    {{ output -}}
</div>
