{#
/**
 * @file
 * Theme override for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 */
#}
{# Translucent Background #}
<div class="tp-caption transparent-bg"
  data-x="left"
  data-y="top"
  data-start="0"
  data-basealign="slide"
  data-transform_idle="o:1"
  data-transform_in="o:0;s:300;"
  data-transform_out="o:0;s:300;"
  data-width="[450,450,350,full]"
  data-height="[full,full,full,100]">
</div>

{# Title of Slide #}
<div class="tp-caption title"
  data-x="[left,left,left,center]"
  data-y="[top,top,top,top]"
  data-hoffset="[45,45,45,1]"
  data-voffset="[45,45,45,1]"
  data-lineheight="35"
  data-fontsize="[32,30,27,25]"
  data-fontweight="700"
  data-whitespace="normal"
  data-basealign="slide"
  data-start="50"
  data-width="[360,360,270,full]"
  data-transform_idle="o:1"
  data-transform_in="y:[100%];sX:1;sY:1;o:0;s:1000;e:Power4.easeInOut;"
  data-transform_out="y:[100%];o:0;s:1000;e:Power2.easeInOut;">
      <div class="title-inner transparent-bg">
        {{ output -}}
      </div>
</div>
