/**
 * @file
 * Visual styles for mt-video field in Startup Growth.
 */
.field--name-field-mt-video.field__item,
.field--name-field-mt-video .field__item {
  margin: 0 0 40px;
}
.video-item > a {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  max-width: 100%;
}
.video-item > a:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  z-index: 2;
}
.video-item > a:after {
  content: "\f04b";
  font-family: "FontAwesome";
  font-size: 28px;
  line-height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
  color: #a3a3a3;
  width: 100%;
  text-align: center;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #3f3f3f;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  transition: all linear 0.2s;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 3;
}
.video-item:hover > a img {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
